body {
    background-image: url("original.gif");
  }
  
  h1 {
    color: slateblue;
    margin-left: 100px;
  }
  p {
      color: slateblue;
      margin-left: 20px;
  }
 p.solid {border-style: solid;}
  