body {
    background-image: url("Galaxy Collision.gif");
  }
  
  h1 {
    color: slateblue;
    margin-left: 100px;
  }
  p {
      color: slateblue;
      margin-left: 20px;
  }
 p.solid {border-style: solid;}
 h2 {
   color: gold;
   margin-left: 20px;
 }
  